body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}

/* sections */
.colored-section {
  background-color: #fd297b;
  color: white;
}

.white-section {
  background-color: #fff;
}

/* navbar css */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  position: relative;
  text-align: left;
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
#features {
  position: relative;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.features-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonials-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 10px;
}

/* Press */
#press {
  padding-bottom: 3%;
  background-color: #ef8172;
}

.press-image {
  width: 15%;
  margin: 20px 20px 15px;
}

/* Pricing Section*/
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call to Action */
/* Footer Section */
.socials {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  .title-block {
    text-align: center;
  }
}
